<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Dashboard</title>

</head>
<body>
<div class="streams_wrapper">
    {% for stream in streams %}
    <div>
        <h1>Stream Name: {{ stream.name }}</h1>
        <h2>Stream ID: {{ stream.id }}</h2>
        <h3>Stream URL: {{ stream.url }}</h3>
        <p id="{{ stream.id }}"></p>
    </div>
    {% endfor %}
</div>
<style>
    body {
        background: #efefef;
    }

    pre {
        background-color: ghostwhite;
        border: 1px solid silver;
        padding: 10px 20px;
        border-radius: 4px;
        width: 25%;
        margin: 20px auto;
    }
</style>
<script>
    // Object.prototype.prettyPrint = function () {
    //     let jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
    //     let replacer = function (match, pIndent, pKey, pVal, pEnd) {
    //         let key = '<span class="json-key" style="color: brown">',
    //             val = '<span class="json-value" style="color: navy">',
    //             str = '<span class="json-string" style="color: olive">',
    //             r = pIndent || '';
    //         if (pKey)
    //             r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
    //         if (pVal)
    //             r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
    //         return r + (pEnd || '');
    //     };
    //
    //     return JSON.stringify(this, null, 3)
    //         .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
    //         .replace(/</g, '&lt;').replace(/>/g, '&gt;')
    //         .replace(jsonLine, replacer);
    // }
    const streams = JSON.parse('{{ streams|tojson }}');

    for (let stream of streams) {
        const sse = new EventSource(stream.url);
    }
</script>

</body>
</html>